body {
  background-color: #d3d3d3;
  color: #000305;
  font-size: 87.5%;
  font-family: Arial, "Lucida Sans Unicode";
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #cf5c3f;
}

a:hover,
a:active {
  background-color: #cf5c3f;
  color: #ffff;
}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img {
  width: 30%;
  height: auto;
  margin: 2% 0;
}

.mainHeader nav {
  background-color: #666666;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  display: inline;
  float: left;
}

.mainHeader nav a:link,
.mainHeader nav a:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:active,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
  background-color: #cf5c3f;
  text-shadow: none;
}

.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content {
  width: 70%;
  float: left;
}

.topContent,
.bottomContent {
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.top-sidebar,
.bottom-sidebar,
.middle-sidebar {
  width: 25%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-top: 2%;
  margin-left: 2%;
  padding: 2px 3px;
}

.post-info {
  font-style: italic;
  color: #999;
  font-size: 85%;
}
.mainFooter {
  width: 100%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #666;
  margin: 2% 0;
}

.mainFooter div {
  margin: 1% auto;
  padding: 5px;
  color: #fff;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
  .body {
    width: 90%;
    font-size: 95%;
  }
  .mainHeader img {
    width: 100%;
  }

  .mainHeader nav {
    height: 160px;
  }

  .mainHeader nav ul {
    padding-left: 0;
  }

  .mainHeader nav ul li {
    width: 100%;
    text-align: center;
  }

  .mainHeader nav a:link,
  .mainHeader nav a:visited {
    padding: 10px 25px;
    height: 20px;
    display: block;
  }

  .mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }

  .topContent {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .bottomContent {
    margin-top: 2%;
  }

  .top-sidebar,
  .bottom-sidebar,
  .middle-sidebar {
    width: 100%;
    margin: 2% 0 2% 0;
    padding: 2px 3px;
  }

  .post-info {
    font-style: italic;
    color: #999;
    font-size: 85%;
  }
  .mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #666;
    margin: 2% 0;
  }

  .mainFooter div {
    margin: 1% auto;
    padding: 5px;
    color: #fff;
  }
}
